<<<<<<< HEAD
services:
  postgres:
    image: postgres:18-alpine
    container_name: dtsse-postgres
    environment:
      POSTGRES_USER: hmcts
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U hmcts -d postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  redis:
    image: redis:8-alpine
    container_name: dtsse-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
    command: redis-server --appendonly yes

volumes:
  postgres_data:
  redis_data:
=======
version: '2'

services:
  # TODO: change this name to match the name of your app
  frontend:
    build:
      context: .
      args:
        - http_proxy
        - https_proxy
        - no_proxy
    ports:
      # TODO: change this mapping to map the port your application listens on
      - '3040:3040'
>>>>>>> 2ed0fdee0936456c23c949bfb25ac5ec9c563e38
